.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
./.ipynb_checkpoints
*.jpg
.ipynb_checkpoints
api_key.txt
data/patent_data/raw_patent_data/italy_austrian_patents.csv
*.tiff
data/primary_sources
*api_key*
.env
