/Paris1855.pdf filter=lfs diff=lfs merge=lfs -text
/data/Paris1855.pdf filter=lfs diff=lfs merge=lfs -text
/data/Paris1855_Austria.pdf filter=lfs diff=lfs merge=lfs -text
/data/primary_sources/Paris1855_Austria.pdf filter=lfs diff=lfs merge=lfs -text
/data/italy_austrian_piedmontese_patents.geojson filter=lfs diff=lfs merge=lfs -text
/data/patents_final_dataset.geojson filter=lfs diff=lfs merge=lfs -text
/shapefiles_images/italy_admin_borders/Limiti1991/Com1991/Com1991_WGS84.shp filter=lfs diff=lfs merge=lfs -text
/temporary_all_austrian_data.RDS filter=lfs diff=lfs merge=lfs -text
/data/patent_data/interim_patent_data/austrian_patent_data.RDS filter=lfs diff=lfs merge=lfs -text
